**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.idea
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/.env
**/charts
**/secrets.dev.yaml
**/values.dev.yaml